{% extends "layout.html" %}

{% block subcontent %}
<h1>About CoffeeRun</h1>
<h2>CoffeeRun 1.0</h2>
<p>In previous summer schools, the tutors have organised coffee runs by word of mouth. When a tutor decided they wanted coffee and was feeling nice enough to bring some back for everyone else, they would run around to whoever they could find and try to remember their orders.</p>

<p>This was extremely impractical, and someone would inevitably want coffee but not be able to get it for themselves, or to tell someone who <em>was</em> doing a run. As such, many tutors became under-caffeinated. This is <em>never</em> a good thing.</p>

<p>The NCSS CoffeeRun web application was built for NCSS 2014 to simplify this process, by allowing people to make their coffee orders without ever seeing the person doing the run. This is a win for lazy tutors, and a win for local cafes. <em>Everyone</em> wins!</p>

<p>The tutor responsible for building this application is Maddy. If you have any feedback, feel free to pester her. Just much sure you bring coffee as a consolation gift.</p>

<h2>CoffeeRun 2.0</h2>
<p>Coming 2015, with loads of new features to make your coffeerun experience all that much awesome!</p>
<p>Some of the amazing features to expect:</p>
<ul>
    <li>Hard deadlines: never be late to a run again!</li>
    <li>Cafe listings, complete with price listings</li>
    <li>Price calculation, both per person and per run</li>
</ul>

{% endblock %}
