{% extends "layout.html" %}

{% block subcontent %}
<h1>{{ formtype }} Cafe</h1>
<form id="cafe-form" class="form-horizontal" role="form" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group" {{ "has-error" if form.name.errors }}>
        {{ form.name.label(class_="col-sm-2 control-label") }}
        <div class="col-sm-10">
            {{ form.name(class_="form-control") }}
        </div>
    </div>
    <div class="form-group {{ "has-error" if form.location.errors }}">
        {{ form.location.label(class_="col-sm-2 control-label") }}
        <div class="col-sm-10">
            {{ form.location(class_="form-control") }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/cafe/" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}
