{% extends "layout.html" %}

{% block scripts %}
    {{ super() }}
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{ url_for(".static", filename="js/jquery.number.min.js") }}"></script>
    <script src="{{ url_for(".static", filename="js/coffeeform.js") }}"></script>
{% endblock %}

{% block subcontent %}
<h1>{{ formtype }} Coffee</h1>
<form id="coffee-form" class="form-horizontal" role="form" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group" {{ "has-error" if form.person.errors }}>
        {{ form.person.label(class_="col-sm-1 control-label") }}
        <div class="col-sm-11">
            {{ form.person(class_="form-control") }}
        </div>
    </div>
    <div class="form-group" {{ "has-error" if form.runid.errors }}>
        {{ form.runid.label(class_="col-sm-1 control-label") }}
        <div class="col-sm-11">
            {{ form.runid(class_="form-control", type="number") }}
        </div>
    </div>
    <div class="form-group" {{ "has-error" if form.coffee.errors }}>
        {{ form.coffee.label(class_="col-sm-1 control-label") }}
        <div class="col-sm-11">
            {{ form.coffee(class_="form-control") }}
        </div>
    </div>
    <div class="form-group">
        {{ form.price.label(class_="col-sm-1 control-label") }}
        <div class="col-sm-11">
            {{ form.price(class_="form-control") }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
            <button type="submit" class="btn btn-primary col-sm-1">Save</button>
            <a href="/coffee/" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}
