{% macro coffeetable(coffeeset, viewperson=True) -%}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            {% if viewperson %}<th>Addict</th>{% endif %}
            <th>Type</th>
            <th>Size</th>
            <th>Sugar</th>
            <th>Price</th>
            <th>Run</th>
            <th>Status</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
        {% for coffee in coffeeset %}
        <tr>
            <td><a href="/coffee/{{ coffee.id }}/">{{ coffee.id }}</a></td>
            {% if viewperson %}<td><a href="/user/{{ coffee.addict.id }}">{{ coffee.addict.name }}</a></td>{% endif %}
            <td>{{ coffee.coffeetype }}</td>
            <td>{{ coffee.size }}</td>
            <td>{{ coffee.sugar }}</td>
            <td>{{ "$%.2f" % coffee.price.amount }}</td>
            <td><a href="/run/{{ coffee.run.id }}/">{{ coffee.run.readtime() }}</a></td>
            <td>{{ coffee.run.status.description }}</td>
            <td>{% if coffee.paid %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}

{% macro runtable(runset, viewperson=true) -%}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            {% if viewperson %}<th>Fetcher</th>{% endif %}
            <th>Time</th>
            <th>Deadline</th>
            <th>Cafe</th>
            <th>Pickup</th>
            <th>Status</th>
            <th>Coffees</th>
        </tr>
    </thead>
    <tbody>
        {% for run in runset %}
        <tr>
            <td><a href="/run/{{ run.id }}/">{{ run.id }}</a></td>
            {% if viewperson %}<td><a href="/user/{{ run.fetcher.id }}">{{ run.fetcher.name }}</a></td>{% endif %}
            <td>{{ run.readtime() }}</td>
            <td>{{ run.readdeadline() }}</td>
            <td><a href="/cafe/{{ run.cafe.id }}/">{{ run.cafe.name }}</a></td>
            <td>{{ run.pickup }}</td>
            <td>{{ run.status.description }}</td>
            <td>{{ run.coffees|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}

{% macro cafetable(cafeset) -%}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for cafe in cafeset %}
        <tr>
            <td><a href="/cafe/{{ cafe.id }}/">{{ cafe.id }}</a></td>
            <td>{{ cafe.name }}</td>
            <td>{{ cafe.location }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}

{% macro pricetable(priceset, viewcafe=true) -%}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            {% if viewcafe %}<th>Cafe</th>{% endif %}
            <th>Size</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for price in priceset %}
        <tr>
            <td><a href="/price/{{ price.id }}/">{{ price.id }}</a></td>
            {% if viewcafe %}<td><a href="/cafe/{{ price.cafe.id }}">{{ price.cafe.name }}</a></td>{% endif %}
            <td>{{ price.size }}</td>
            <td>{{ "$%.2f" % price.amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}
