{% macro coffeetable(coffeeset, viewperson=True) -%}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            {% if viewperson %}<th>Addict</th>{% endif %}
            <th>Type</th>
            <th>Price</th>
            <th>Run</th>
        </tr>
    </thead>
    <tbody>
        {% for coffee in coffeeset %}
        <tr>
            <td><a href="/coffee/{{ coffee.id }}/">{{ coffee.id }}</a></td>
            {% if viewperson %}<td><a href="/user/{{ coffee.addict.id }}">{{ coffee.addict.name }}</a></td>{% endif %}
            <td>{{ coffee.pretty_print() }}</td>
            <td>{{ "$%.2f" % coffee.price }}</td>
            <td>{% if coffee.run %}<a href="/run/{{ coffee.run.id }}/">{{ coffee.run.readtime() }}</a>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}

{% macro runtable(runset, viewperson=true) -%}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            {% if viewperson %}<th>Fetcher</th>{% endif %}
            <th>Time</th>
            <th>Cafe</th>
            <th>Pickup</th>
            <th>Open</th>
            <th>Coffees</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for run in runset %}
        <tr>
            <td><a href="/run/{{ run.id }}/">{{ run.id }}</a></td>
            {% if viewperson %}<td><a href="/user/{{ run.fetcher.id }}">{{ run.fetcher.name }}</a></td>{% endif %}
            <td>{{ run.readtime() }}</td>
            <td><a href="/cafe/{{ run.cafe.id }}/">{{ run.cafe.name }}</a></td>
            <td>{{ run.pickup }}</td>
            <td>{{ run.is_open }}</td>
            <td>{{ run.coffees|length }}</td>
            <td>{{ "$%.2f" % run.calculateTotalRunCost() }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}

{% macro cafetable(cafeset) -%}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for cafe in cafeset %}
        <tr>
            <td><a href="/cafe/{{ cafe.id }}/">{{ cafe.id }}</a></td>
            <td>{{ cafe.name }}</td>
            <td>{{ cafe.location }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}

{% macro pricetable(priceset, viewcafe=true) -%}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            {% if viewcafe %}<th>Cafe</th>{% endif %}
            <th>Size</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for price in priceset %}
        <tr>
            <td><a href="/price/{{ price.id }}/">{{ price.id }}</a></td>
            {% if viewcafe %}<td><a href="/cafe/{{ price.cafe.id }}">{{ price.cafe.name }}</a></td>{% endif %}
            <td>{{ price.size }}</td>
            <td>{{ "$%.2f" % price.amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}

{% macro eventtable(eventset, viewid=true) -%}
<table class="table">
    <thead>
        <tr>
            {% if viewid %}<th>ID</th>{% endif %}
            <th>Activity</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for event in eventset %}
        <tr>
            {% if viewid %}<td>{{ event.id }}</td>{% endif %}
            <td><a href="/user/{{ event.user.id }}/">{{ event.user.name }}</a> {{ event.action }} a <a href="/{{ event.objtype }}/{{ event.objid }}/">{{ event.objtype }}</a> {{ event.descrobj()|safe }}</td>
            <td>{{ event.readtime() }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}
