{% extends "layout.html" %}
{% import "tables.html" as tables %}

{% block subcontent %}
<h1>{{ user.name }} <small>{{ user.email }}</small></h1>

<div class="row">
    <div class="col-xs-6 col-sm-2">
        <h2>Details</h2>
        <div class="row">
            <label class="col-sm-8">Tutor:</label>
            <div class="col-sm-4">
                {% if user.tutor %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
            </div>
        </div>
        <div class="row">
            <label class="col-sm-8">Teacher:</label>
            <div class="col-sm-4">
                {% if user.teacher %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-2">
        <h2>Debts</h2>
        <div class="row">
            <label class="col-sm-8">Owes (Total):</label>
            <div class="col-sm-4">
                <p>${{ "%.2f" % user.money_owing() }}</p>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-8">Is Owed (Total):</label>
            <div class="col-sm-4">
                <p>${{ "%.2f" % user.money_owed() }}</p>
            </div>
        </div>
        {% if current_user == user %}<a href="/user/{{ user.id }}/debts/" class="btn btn-primary">View Debts</a>{% endif %}
    </div>
    <div class="col-xs-12 col-sm-8">
        <h2>Recent Activity</h2>
        {{ tables.eventtable(user.events[:4], viewid=false) }}
    </div> 
</div>

<h2>Runs</h2>
<a href="/run/add/" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Run</a>
{{ tables.runtable(user.runs, False) }}
<h2>Coffees</h2>
<a href="/coffee/add/" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Coffee</a>
{{ tables.coffeetable(coffees, False) }}
{% endblock %}
