{% extends "layout.html" %}

{% block subcontent %}
<h1>Cafe: {{ cafe.name }}</h1>
<div class="row">
    <label class="col-sm-1">ID</label>
    <div class="col-sm-11">
        <p>{{ cafe.id }}</p>
    </div>
</div>
<div class="row">
    <label class="col-sm-1">Location</label>
    <div class="col-sm-11">
        <p>{{ cafe.location }}</p>
    </div>
</div>

<h2>Prices</h2>
{% from "tables.html" import pricetable %}
<a href="/cafe/{{ cafe.id }}/price/add/" class="btn btn-primary">Add Price</a>
{{ pricetable(cafe.pricelist, viewcafe=false) }}

<h2>Runs</h2>
{% from "tables.html" import runtable %}
<a href="/cafe/{{ cafe.id }}/run/add/" class="btn btn-primary">Add Run</a>
{{ runtable(cafe.runs) }}

{% endblock %}
