{% extends "layout.html" %}

{% block subcontent %}
<h1>Coffee</h1>
<div class="row">
    <label class="col-sm-1">ID</label>
    <div class="col-sm-11">
        <p>{{ coffee.id }}</p>
    </div>
</div>
<div class="row">
    <label class="col-sm-1">Addict</label>
    <div class="col-sm-11">
        <p><a href="/user/{{ coffee.person }}/">{{ coffee.addict.name }}</a></p>
    </div>
</div>
<div class="row">
    <label class="col-sm-1">Run</label>
    <div class="col-sm-11">
        {% if coffee.run %}
        <p><a href="/run/{{ coffee.run.id }}">{{ coffee.run.readtime() }}</a> ({{ coffee.run.status.description }})</p>
        {% endif %}
    </div>
</div>
<div class="row">
    <label class="col-sm-1">Type</label>
    <div class="col-sm-11">
        <p>{{ coffee.coffeetype }}</p>
    </div>
</div>
<div class="row">
    <label class="col-sm-1">Size</label>
    <div class="col-sm-11">
        <p>{{ coffee.size }}</p>
    </div>
</div>
<div class="row">
    <label class="col-sm-1">Sugar</label>
    <div class="col-sm-11">
        <p>{{ coffee.sugar }}</p>
    </div>
</div>
<div class="row">
    <label class="col-sm-1">Start Time</label>
    <div class="col-sm-11">
        <p>{{ coffee.readstarttime() }}</p>
    </div>
</div>
<div class="row">
    <label class="col-sm-1">End Time</label>
    <div class="col-sm-11">
        <p>{{ coffee.readendtime() }}</p>
    </div>
</div>
<div class="row">
    <label class="col-sm-1">Price</label>
    <div class="col-sm-11">
        <p>{{ "$%.2f" % coffee.price }}</p>
    </div>
</div>
<div class="row">
    <label class="col-sm-1">Paid</label>
    <div class="col-sm-11">
        <p>{% if coffee.paid %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</p>
    </div>
</div>
<div class="row">
    <label class="col-sm-1">Expired</label>
    <div class="col-sm-11">
        <p>{% if coffee.expired %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</p>
    </div>
</div>
<div class="row">
    <label class="col-sm-1">Modified</label>
    <div class="col-sm-11">
        <p>{{ coffee.readmodified() }}</p>
    </div>
</div>
<a href="/coffee/{{ coffee.id }}/edit/" class="btn btn-primary">Edit Coffee</a>
<a href="/coffee/{{ coffee.id }}/pay/" class="btn btn-primary">Pay For Coffee</a>

<button class="btn btn-danger" data-toggle="modal" data-target="#myModal">
    Delete Coffee
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Delete Coffee</h4>
      </div>
      <div class="modal-body">
          <p>Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="/coffee/{{ coffee.id }}/delete/" class="btn btn-danger">Delete Coffee</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
