{% extends "layout.html" %}

{% block subcontent %}
<h1>View Run</h1>
<h2>Details</h2>
<div class="row">
    <label class="col-sm-2">Coffee Fetcher</label>
    <div class="col-sm-10">
        <p><a href="/user/{{ run.person }}/">{{ run.fetcher.name }}</a></p>
    </div>
</div>
<div class="row">
    <label class="col-sm-2">Time</label>
    <div class="col-sm-10">
        <p>{{ run.time|sydney_time|format_time }}</p>
    </div>
</div>
<div class="row">
    <label class="col-sm-2">Cafe</label>
    <div class="col-sm-10">
        <p><a href="/cafe/{{ run.cafe.id }}/">{{ run.cafe.name }}</a></p>
    </div>
</div>
<div class="row">
    <label class="col-sm-2">Pickup Location</label>
    <div class="col-sm-10">
        <p>{{ run.pickup }}</p>
    </div>
</div>
<div class="row">
    <label class="col-sm-2">Total Cost</label>
    <div class="col-sm-10">
        <p>{{ "$%.2f" % run.calculateTotalRunCost() }}</p>
    </div>
</div>
<div class="row">
    <label class="col-sm-2">Modified</label>
    <div class="col-sm-10">
        <p>{{ run.modified|sydney_time|format_time }}</p>
    </div>
</div>
<a href="/run/{{ run.id }}/edit/" class="btn btn-primary">Edit Run</a>
{% if run.is_open %}<a href="/run/{{ run.id }}/close/" class="btn btn-primary">Close Run</a>
<a href="/run/{{ run.id }}/addcoffee/" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Add Coffee</a>
{% endif %}
{% if not run.is_open %}<a href="/run/{{ run.id }}/ping/" class="btn btn-primary">Announce Delivery</a>
{% endif %}
<a href="/order/{{ run.id }}/" class="btn btn-primary">Simplified Order</a>

<button class="btn btn-danger" data-toggle="modal" data-target="#myModal">
    Delete Run
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Delete Run</h4>
      </div>
      <div class="modal-body">
          {% if run.coffees %}
          <p>You cannot delete a run with associated coffees.</p>
          {% else %}
          <p>Are you sure?</p>
          {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        {% if not run.coffees %}<a href="/run/{{ run.id }}/delete/" class="btn btn-danger">Delete Run</a>{% endif %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h2>Coffees</h2>
{% from "tables.html" import coffeetable as table %}
{{ table(run.coffees) }}

{% endblock %}
