{% extends "layout.html" %}

{% block subcontent %}
<h1>Frequently Asked Questions</h1>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#question1">Can you add feature $X?</a>
            </h4>
        </div>
        <div id="question1" class="panel-collapse collapse">
            <div class="panel-body">
                Maybe... File a feature request at <a
                  href="https://github.com/SilverMaddy/ncss-coffeerun/issues/new">github</a>.
                Though you may want to just implement it yourself and send a
                pull request. See the next question for where to grab the code
                from.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#question2">Where is the code?</a>
            </h4>
        </div>
        <div id="question2" class="panel-collapse collapse">
            <div class="panel-body">
              <a
                href="https://github.com/SilverMaddy/ncss-coffeerun">Github</a>!
              Come and look at the awesome code, implement new awesome features
              and fix all of the terrible bugs that Elmo added.<br />
              Just send us a pull request with your awesome changes.
            </div>
        </div>
    </div>
</div>

{% endblock %}
